<h1>{{ title }}</h1>
<p>{{ description }}</p>
<div>
    <img src="{{image}}" alt="{{description}}" width="300" height="300">
</div>
<div>
    <a href="mailto:{{user.email}}">contact owner</a>
</div>

{{!-- <p>Likes: {{ likes }}</p> --}}
{{!-- will add the likes feature once we have that working --}}