<div class="bigStickyNote">
<h1 class="post-title">{{ title }}</h1>
<p class="post-description">{{ description }}</p>
{{!-- {{#each images as |image|}} --}}
<div class="post-img">
    {{!-- <img src="{{image}}" alt="{{description}}" width="300" height="300"> --}}
    <img src="{{url}}" alt="{{title}}{{url}}">
</div>
{{!-- {{/each}} --}}
<div class="contact">
    <a href="mailto:{{user.email}}">contact owner</a>
</div>
</div>



{{!-- <p>Likes: {{ likes }}</p> --}}
{{!-- will add the likes feature once we have that working --}}